.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerHeaderTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}

.containerHeaderButtons {
  display: flex;
  align-items: center;
  gap: 4px;
}

