.cardContent {
  padding: 24px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeaderTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.cardBody {

}