.cardContent {
  padding: 24px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeaderTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.cardHeaderButtonContainer {
  display: flex;
  gap: 12px;
}

.photo {
  border-radius: 8px;
  width: 144px;
  height: 108px;
}

.photosContainer {
  display: flex;
  gap: 12px;
}

.photoWrapper {
 position: relative;
}

.photoIcon {
  position: absolute;
  right: 10px;
  top: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.listEditItem {
  display: flex;
  align-items: center;
}

.listItemTitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
  flex-basis: 25%;
}

.listItemEditDate {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin: 12px;
}

.listItemDate {
  display: flex;
  gap: 12px;
}

.line {
  color: rgba(0, 0, 0, 0.3);
}