.linkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 40px 10px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    &:hover {
        background-color: #3b3b3b;
        opacity: 0.2;
        transform: scale(0.98);
        .name {
            color: rgba(255, 255, 255, 0.95);
        }
    }
}

.activeLinkButton {
    background-color: #3b3b3b;
        outline: none;
        .name {
            color: rgba(255, 255, 255, 0.95);
        }
}

.name {
    color: #3b3b3b;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    flex-grow: 1;
    text-align: center;
}

